<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account2</servlet-name>
        <servlet-class>account2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheck</servlet-name>
        <servlet-class>EmailCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPCheck</servlet-name>
        <servlet-class>OTPCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierDeposit</servlet-name>
        <servlet-class>CashierDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resend</servlet-name>
        <servlet-class>resend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferMoney</servlet-name>
        <servlet-class>TransferMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverDetailsServlet</servlet-name>
        <servlet-class>ReceiverDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_password</servlet-name>
        <servlet-class>forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account2</servlet-name>
        <url-pattern>/account2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheck</servlet-name>
        <url-pattern>/EmailCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPCheck</servlet-name>
        <url-pattern>/OTPCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierDeposit</servlet-name>
        <url-pattern>/CashierDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resend</servlet-name>
        <url-pattern>/resend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferMoney</servlet-name>
        <url-pattern>/TransferMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverDetailsServlet</servlet-name>
        <url-pattern>/ReceiverDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_password</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
